.registercontainer {
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url('../assets/images/homecover.jpg');
    background-size: cover;
    height: 100vh;
    }

.registerform {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    margin-left: 50%;
    gap: 15px;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: lightsteelblue
}

.registerform input {
    padding: 15x;
    font-size: 16px;
}

.registerform button {
    padding: 12px;
    background-color: white;
    color: blue;
    font-size: medium;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

